/* logo */

.logo {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 100%;
}

.centrarlogo {
    text-align: center;
}


/* MENU */

.menu {
    @include flex(row, space-evenly, center, 1px);
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: $small;
}

.menu__estilo {
    color: map-get($colors, primary);
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: map-get($colors, primary);
    }
}

.menu__lista {
    &:hover {
        background-color: rgba(161, 82, 235, 0.596);
        transform: translateX(5px);
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}