/* FORMULARIO */

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 5px solid rgb(161, 82, 235);
    border-radius: 20px;
    color: white;
}

.redes {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}