/* FORMULARIO */

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 5px solid rgb(161, 82, 235);
    border-radius: 20px;
    color: white;
}

.formaformulario {
    list-style: none;
    display: grid;
    padding: 5px;
    text-align: center;
    justify-content: space-around;
}