button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background-color: #ad76f5;
}

.btn-4 {
    background-color: #ad76f5;
    background-image: linear-gradient(315deg, #4dccc6 0%, #ae8ae9 74%);
    line-height: 42px;
    padding: 5px;
    border: none;
    &:hover {
        background-color: #ad76f5;
        background-image: linear-gradient(315deg, #ae8ae9 0%, #4dccc6 74%);
        &:before {
            height: 100%;
        }
        &:after {
            width: 100%;
        }
    }
    span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .9), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            transition: all 0.3s ease;
            width: .1px;
            height: 0%;
        }
        &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .9), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            transition: all 0.3s ease;
            width: 0%;
            height: .1px;
        }
        &:hover {
            &:before {
                height: 100%;
            }
            &:after {
                width: 100%;
            }
        }
    }
    &:before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .9), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        transition: all 0.3s ease;
        height: 0%;
        width: .1px;
    }
    &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .9), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        transition: all 0.3s ease;
        width: 0%;
        height: .1px;
    }
}

.titulo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(161, 82, 235);
}

.subtitulo {
    font-size: 20px;
    text-align: center;
    color: white;
}

.colortema {
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(161, 82, 235);
    text-align: center;
}

.colorparrafo {
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-align: center;
}

.mirror {
    box-shadow: 0 8px 32px 0 grey;
    backdrop-filter: blur( 2px);
    -webkit-backdrop-filter: blur( 2px);
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    width: 400px;
    align-self: center;
}

.shadow {
    text-shadow: 1px 1px 0 grey;
    color: rgb(66, 29, 99);
}

.flexcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fill {
    &:hover {
        box-shadow: inset 0 0 0 2em rgb(115, 52, 173);
        color: #ffffff;
        transition: 0.25s;
    }
    &:focus {
        box-shadow: inset 0 0 0 2em rgb(115, 52, 173);
        color: #ffffff;
        transition: 0.25s;
    }
    border-color: rgb(115, 52, 173);
    background: none;
    font-size: 15px;
    padding: 10px;
    color: white;
}

.centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    text-align: end;
    img {
        width: 300px;
        height: 300px;
    }
}

.colorcard {
    background-color: rgba(209, 206, 206, 0.137) !important;
    color: white;
}

.tamaño {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}