/*  Variables */


/* Colors */


/*MAPS*/

$colors: ( primary: white, secondary: rgba(161, 82, 235), opcional: black, );
@each $colors,
$value in $colors {
    .#{$colors} {
        color: #{$value}
    }
}


/* Font Size */

$small: 30px;
$medium: 40px;
$large: 50px;